## Revenue, Managers and Sales
Create dataframe from dictionary

In [49]:
import pandas as pd

revenue_dic = {'city':['Austin', 'Denver', 'Springfield', 'Mendocino'],
              'branch_id': [10, 20, 30, 47],
              'state': ['TX','CO', 'IL','CA'],
               'revenue': [100, 83, 4, 200]}

revenue = pd.DataFrame(revenue_dic)

revenue.head()

   branch_id         city  revenue state
0         10       Austin      100    TX
1         20       Denver       83    CO
2         30  Springfield        4    IL
3         47    Mendocino      200    CA

In [50]:
managers_dic = {'branch':['Austin', 'Denver', 'Mendocino', 'Springfield'],
              'branch_id': [10, 20, 47, 31],
              'state': ['TX','CO', 'CA','MO'],
               'manager': ['Charlers', 'Joel', 'Brett', 'Sally']}


managers = pd.DataFrame(managers_dic)
managers.head()

        branch  branch_id   manager state
0       Austin         10  Charlers    TX
1       Denver         20      Joel    CO
2    Mendocino         47     Brett    CA
3  Springfield         31     Sally    MO

In [51]:
sales_dic = {'city':['Mendocino', 'Denver', 'Austin', 'Springfield', 'Springfield'],
              'state': ['CA','CO', 'TX','MO', 'IL'],
               'units': [1, 4, 2, 5, 1]}


sales = pd.DataFrame(sales_dic)

sales.head()

          city state  units
0    Mendocino    CA      1
1       Denver    CO      4
2       Austin    TX      2
3  Springfield    MO      5
4  Springfield    IL      1

## Merging dataframes

In [52]:
# Merge revenue with managers on 'city': merge_by_city
merge_by_city =  pd.merge(revenue, managers, left_on = 'city', right_on = 'branch')

# Print merge_by_city
print(merge_by_city)

   branch_id_x         city  revenue state_x       branch  branch_id_y  \
0           10       Austin      100      TX       Austin           10
1           20       Denver       83      CO       Denver           20
2           30  Springfield        4      IL  Springfield           31
3           47    Mendocino      200      CA    Mendocino           47

    manager state_y
0  Charlers      TX
1      Joel      CO
2     Sally      MO
3     Brett      CA

In [53]:
# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue, managers, on = 'branch_id')

# Print merge_by_id
print(merge_by_id)

   branch_id       city  revenue state_x     branch   manager state_y
0         10     Austin      100      TX     Austin  Charlers      TX
1         20     Denver       83      CO     Denver      Joel      CO
2         47  Mendocino      200      CA  Mendocino     Brett      CA

In [54]:
# Merge revenue & managers on 'branch_id', 'city', & 'state': combined
combined = pd.merge(revenue,managers, on=['branch_id', 'state'] )
combined

   branch_id       city  revenue state     branch   manager
0         10     Austin      100    TX     Austin  Charlers
1         20     Denver       83    CO     Denver      Joel
2         47  Mendocino      200    CA  Mendocino     Brett

In [55]:
# Merge revenue and sales: revenue_and_sales
revenue_and_sales = pd.merge(revenue, sales, how='right', on=['city', 'state'])

# Print revenue_and_sales
print(revenue_and_sales)

   branch_id         city  revenue state  units
0       10.0       Austin    100.0    TX      2
1       20.0       Denver     83.0    CO      4
2       30.0  Springfield      4.0    IL      1
3       47.0    Mendocino    200.0    CA      1
4        NaN  Springfield      NaN    MO      5

In [56]:
# Merge sales and managers: sales_and_managers
sales_and_managers = pd.merge(sales, managers, how='left', left_on=['city', 'state'], right_on=['branch', 'state'])

# Print sales_and_managers
print(sales_and_managers)

          city state  units       branch  branch_id   manager
0    Mendocino    CA      1    Mendocino       47.0     Brett
1       Denver    CO      4       Denver       20.0      Joel
2       Austin    TX      2       Austin       10.0  Charlers
3  Springfield    MO      5  Springfield       31.0     Sally
4  Springfield    IL      1          NaN        NaN       NaN

In [57]:
# Perform the first merge: merge_default
merge_default = pd.merge(sales_and_managers, revenue_and_sales)

# Print merge_default
print(merge_default)

        city state  units     branch  branch_id   manager  revenue
0  Mendocino    CA      1  Mendocino       47.0     Brett    200.0
1     Denver    CO      4     Denver       20.0      Joel     83.0
2     Austin    TX      2     Austin       10.0  Charlers    100.0

In [58]:
# Perform the second merge: merge_outer
merge_outer = pd.merge(sales_and_managers, revenue_and_sales, how='outer')

# Print merge_outer
print(merge_outer)

          city state  units       branch  branch_id   manager  revenue
0    Mendocino    CA      1    Mendocino       47.0     Brett    200.0
1       Denver    CO      4       Denver       20.0      Joel     83.0
2       Austin    TX      2       Austin       10.0  Charlers    100.0
3  Springfield    MO      5  Springfield       31.0     Sally      NaN
4  Springfield    IL      1          NaN        NaN       NaN      NaN
5  Springfield    IL      1          NaN       30.0       NaN      4.0
6  Springfield    MO      5          NaN        NaN       NaN      NaN

In [61]:
# Perform the third merge: merge_outer_on
merge_outer_on = pd.merge(sales_and_managers, revenue_and_sales, how='outer', on=['city','state', 'branch_id', 'units'])

# Print merge_outer_on
print(merge_outer_on)

          city state  units       branch  branch_id   manager  revenue
0    Mendocino    CA      1    Mendocino       47.0     Brett    200.0
1       Denver    CO      4       Denver       20.0      Joel     83.0
2       Austin    TX      2       Austin       10.0  Charlers    100.0
3  Springfield    MO      5  Springfield       31.0     Sally      NaN
4  Springfield    IL      1          NaN        NaN       NaN      NaN
5  Springfield    IL      1          NaN       30.0       NaN      4.0
6  Springfield    MO      5          NaN        NaN       NaN      NaN